# -*- coding: utf-8 -*-
"""
Created on Sat Jun 27 21:57:47 2020

@author: admin
"""


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Amazon Cell Phone Review</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form action = "http://localhost:5000/nlpmodel" method="post">
<div class="container">
  <h3>Review form</h3>
  <p style="color:orange;"><b>
    Your review is very valuable for us to maintain the standards
    of our products and also to let the other customers like you
    to choose the best cell phone.So please present your review on the
    product.
  </b>
  </p>
  <p style="color:yellow;">Present your review in the textarea below:</p>
  <p><input type="text" id="Review" name="Review" size="150"/></p>
  <p style="text-align:center;"> <button  class="btn-success">Submit</button></p>
 </div>
 </form>
 <b>{{abc}}</b>
 </body>
</html>
<style>
body {
  background-image: url('https://res.cloudinary.com/fleetnation/image/private/c_fit,w_1120/g_south,l_text:style_gothic2:%C2%A9%20Michal%20Durinik,o_20,y_10/g_center,l_watermark4,o_25,y_50/v1524740299/p3ezehlbhmgkheztak80.jpg');
}
</style>
